<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,200&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/80d3947a70.js"></script>
</head>

<body>
    {{!-- MAIN CONTAINER --}}
    <main class="container">

        {{!-- HEADER WITH LOGO AND WEBSITE NAME --}}
        <header>
            {{!-- <span class="logo_img">
                <i class="fa fa-plane" aria-hidden="true"></i>
            </span>
            <span class="site_name">
                <p>FREELY</p>
            </span> --}}
        </header>

        {{!-- MAIN NAVIGATION --}}
        <nav class="main_navigation">
            <div class="logo_img">
                <i class="fa fa-plane" aria-hidden="true"></i>
                <span>FREELY</span>
            </div>
            <ul class="navigation">
                <li class="navigation_element"><a href="/users/logout" id="register_btn" class="nav_link"><i
                            class="fas fa-user"></i>Logout</li></a>
            </ul>
        </nav>

        {{!-- MAIN PART OF PAGE --}}
        <article class="main_container">

            {{!-- AIRPLANE MAP TO CHOOSE THE SEAT --}}

            <div class="airplane_area" id="airplane_area">

            </div>

            {{!-- RESERVATION PANEL --}}
            <form id="reserve" method="POST" action="/reservation_succed" class="grid_block form_reservation">
                <h3 class="item_header">Reservation panel</h3>
                <label for="flightDate" class="item_label label_normalization"><i class="far fa-calendar-alt"></i>Date of flight:</label>
                <input type="date" value="{{flightDate}}" id="flightDate" name="flightDate" class="item_input input_normalization" disabled>
                <input type="date" value="{{flightDate}}" id="flightDate" name="flightDate" class="hidden_input">
                <label for="flightDestinationName" class="item_label label_normalization"><i class="fas fa-map-marked-alt"></i>Destination:</label>
                <input type="text" value="{{air.destination}}" id="flightDestinationName" class="item_input input_normalization" disabled>
                <input type="text" value="{{flightDestination}}" id="flightDestination" name="flightDestination"
                    class="hidden_input">
                <h4 class="item_header">
                    <div class="rounded_num">1</div>Choose the amount of seats
                </h4>
                <label for="seatsAmountAdult" class="item_label label_normalization">Adults:</label>
                <input type="number" value="0" id="seatsAmountAdult" name="seatsAmountAdult" min="0" max="9"
                    onchange="myFunction(this.value)" class="item_input input_normalization">
                <label for="seatsAmountKid" class="item_label label_normalization">Kids:</label>
                <input type="number" value="0" id="seatsAmountKid" name="seatsAmountKid" min="0" max="9"
                    onchange="myFunction(this.value)" class="item_input input_normalization">
                <label for="seatsAmountBaby" class="item_label label_normalization">Babies:</label>
                <input type="number" value="0" id="seatsAmountBaby" name="seatsAmountBaby" min="0" max="9"
                    onchange="myFunction(this.value)" class="item_input input_normalization">
                <h4 class="item_header"><div class="rounded_num">2</div>Choose the lagguage option</h4>
                <div class="item_label lagguage_container" id="option_reg">
                    <i class="fas fa-suitcase"></i><p> + 0$</p>
                </div>
                <div class="item_input lagguage_container" id="option_plus">
                    <i class="fas fa-luggage-cart"></i><p> + {{air.lagguagePrice}}$</p>
                </div>
                <input type="button" id="lagguage_regular" value="regular" class="item_label btn_lagguage">
                <input type="button" id="lagguage_plus" value="plus" class="item_input btn_lagguage">
                <h4 class="item_header"><div class="rounded_num">3</div>Choose the seats on the map<i id="correct_selection" class="i_correct hidden_input"></i></h4>
                <button type="button" class="item_header btn_arrow link link--arrowed" onclick="showOrderDetails()"
                    id="order_arrow">
                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 32 32">
                        <g fill="none" stroke="#2175FF" stroke-width="1.5" stroke-linejoin="round"
                            stroke-miterlimit="10">
                            <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
                            <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                        </g>
                    </svg>
                </button>
                <div class="hidden_input" id="order_details">
                    <ol>
                        <li id="adult_price">{{air.seatPriceAdult}}</li>
                        <li id="kid_price">{{air.seatPriceKid}}</li>
                        <li id="baby_price">{{air.seatPriceBaby}}</li>
                        <li id="lagguage_price">{{air.lagguagePrice}}</li>
                        <li id="seats_amount">{{air.seatsAmount}}</li>
                    </ol>
                </div>
                <h4 class="item_header hidden_input" id="order_header"><div class="rounded_num">4</div>Order summary
                </h4>
                <div class="item_label hidden_input">
                    <span><i class="far fa-calendar-alt"></i> Date of flight: {{flightDate}}</span>
                </div>
                <div class="item_input hidden_input">
                    <span><i class="fas fa-plane-arrival"></i> Destination: {{air.destination}}</span>
                </div>
                <div class="item_label hidden_input">
                    <span><i class="fas fa-chair"></i> Seats:</span>
                </div>
                <div class="item_input hidden_input" id="lagguage_option">
                    <span id="lagguage_span"><i class="fas fa-suitcase-rolling"></i> Lagguage option: </span>
                </div>
                <div class="item_header hidden_input">
                    <span id="overall_price"><i class="fas fa-dollar-sign"></i> Price: </span>
                </div>
                <input type="submit" value="Order" class="item_header hidden_input order_btn" disabled>
            </form>
            <div id="reservedSeats" class="hidden_input">
                <ol>
                    {{#each reservations}}
                    <li class="seats_id">{{this.seatIds}}</li>
                    {{/each}}
                </ol>
            </div>

        </article>
    </main>

    {{!-- FOOTER --}}
    <footer>
        <p class="footer_text">Freely <i class="far fa-copyright"></i> SAN 2020</p>
    </footer>


    <script src="./../js/reservation_js.js"></script>
</body>

</html>